<div class="wrapp">
    <form [formGroup]="settingsFrom" (ngSubmit)="onSubmit()">
        <input 
            type="text" 
            id="roundInterval" 
            formControlName="interval"
            placeholder="Round time in ms">
            <p *ngIf="!settingsFrom.valid && settingsFrom.touched" class="alert">This field is required; number must be positive</p>
        <button
            type="submit"
            [disabled]="!settingsFrom.valid"
            (click)="onSubmit()">Start</button>
    </form>
    
    <hr>
    <p>Round time: {{ this.settingsFrom.value['interval'] }}</p>
    <p>Player: {{ gameService.playerCount }}</p>
    <p>PC: {{ gameService.countPC }}</p>
</div>

