
<ng-template appPlaceholder></ng-template>
<div class="container">
  <div class="task-info">
    Задание:
    <p>
      Мини-игра.
      Дано поле 10х10 квадратов (синие), кнопка "Начать", поле ввода (N - время в миллисекундах) и строка-счет (игрок/компьютер).
      После нажатия на кнопку "Начать":
    </p> 
    <ol>
      <li>Cлучайная ячейка поля (синяя) выделяется цветом (становится желтой).</li>
      <li>
        Если игрок успевает кликнуть на выделенную ячейку (желтую) в течении N миллисекунд,
        то ячейка становиться (и остается) зеленой и игроку прибавляется одно очко.
      </li>
      <li>
        Если игрок не успевает кликнуть на ячейку (желтую) в течении этого времени,
        то ячейка становиться (и остается) красной и очко начисляется в пользу компьютера.
      </li>
      <li>
        Если игрок либо компьютер наберет 10 очков, то игра прекращается и игрок должен увидеть сообщение 
        о результатах игры во всплывающем модальном окне (не использовать для окна стандартный alert),
        иначе игра продолжается с первого шага.
      </li>
    </ol>
  </div>
  <app-game-settings style="width: 30%;"></app-game-settings>
  <app-game-field style="width: 60%; margin-top: -3px;"></app-game-field>
</div>
